# Symfony directories

app/logs/*
app/cache/*
app/var/sessions/*
web/uploads/*
web/bundles/*
web/assetic/*
web/js/*
web/css/*
vendor/*

# Bootstrap
app/bootstrap*

# Configuration files
app/config/parameters.yml

# Capifony configuration
app/config/deploy.rb
.rsync_cache/