{% extends "BricksSiteBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            {% block hwi_oauth_content "" %}
        </div>
    </div>

{% endblock %}