parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfonybricks
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            a8s7d5a7tsy98s657cfv9a7gu63urse7tdf9gx78w657du6jf

    # java path required for yui compressor
    java_path:         /usr/bin/java

    admin:
        mail_address: -

