/* import assets */
@import "variables.less";

/******************************************************************************************
BRICKS WALL
******************************************************************************************/
ul.bricks-wall {
    width: 100%;
    margin: auto;
    //margin-left: -2%;

    li {
        @internalPadding: 10px;

        width: 46%;
        margin: 0 2% 2% 0%;
        margin-bottom: 30px;
        //padding:  10px 10px 10px 10px;

        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.07);
        border: 1px solid #E2E2E2;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            background: rgb(238, 238, 238);
        }

        /*
        span.glyphicon {
            font-size: 18px;
            padding-top: 5px;
            color: #555;

            &:hover { color: @sb_green_medium; }
        }
        */

        .head {
            padding: 3px @internalPadding;
            overflow: hidden;

            background: #8D8D8D;

            font-size:  18px;
            margin-bottom:  20px;

            span {
                color: #FFF;
                font-size: 10px;
            }
        }

        a.title {
            display: block;
            padding: 0px @internalPadding @internalPadding - 5px @internalPadding;

            //background: @sb_green_light;
            //border: 1px solid @sb_green_light;
            color: #000;
            font-size: 17px;
            line-height: 20px;
            font-family: 'open_sansbold';

            &:hover { color: #8e8e8e; }
        }

        p.description {
            padding: 0px @internalPadding;
            margin: 0px;
            text-align: justify;

            font-size: 12px;
            color:  #8e8e8e;
        }

        a.read {
            display: block;
            margin: 0 auto;
            margin-top: 0px;
            padding: 3px 10px;
            margin-top: 20px;

            color: #000;

            font-size: 12px;
            text-align: right;
            border-radius: 8px;

            span {
                font-size: inherit;
                color: inherit;
            }
        }

        hr {
            margin: 5px 10px 0px;
            color: #E2E2E2;
        }

        p.brick-info {
            padding: @internalPadding - 5 @internalPadding @internalPadding + 5 @internalPadding;

            //background-color: rgba(248, 248, 248, 0.7);
            margin: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            &, a, p, span {
                font-size: 11px;
                line-height: 15px;
                color:  #8e8e8e;

            }
            a:hover {
                opacity: 0.5;
            }
        }
    }
}