{% extends 'BricksSiteBundle::layout.html.twig' %}

{# META TAGS blocks #}
{% block meta_tags %}
    {% render controller('CopiaincollaMetaTagsBundle:MetaTags:render', { 'inlineMetatags': {'title': 'Error '~exception.statusCode~' | SymfonyBricks.com', 'description': 'Exception '~exception.statusCode~' page.'} }) %}
{% endblock %}
{# END META TAGS blocks #}

{% block body_class 'route-exception' %}

{% block main %}

    <div class="route-exception-wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Whoops, looks like something went wrong.</h1>

                    <br><br><br>

                    <h3>
                        Page returned: <span>Error {{ exception.statusCode }}</span>
                    </h3>

                    <p>
                        The resource you were looking for has not been found.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
