{% extends 'BricksMessageBundle:ButtonModalMessage:_buttonModalMessage.html.twig' %}

{# to refactor: may be not unique in the page #}
{% set form_id = 'form-modal-message-claim-brick' %}

{% set call_to_action_value = '<span class="glyphicon glyphicon-lock"></span> '~'fos_message_bundle.claim_brick'|trans({}, 'FOSMessageBundle')|capitalize %}

{% block title %}
    {{ 'fos_message_bundle.form.claim_brick.title'|trans({}, 'FOSMessageBundle')|capitalize }}
{% endblock %}

{% block help %}
    <p>
        <span class="glyphicon glyphicon-question-sign"></span> {{ 'fos_message_bundle.form.claim_brick.help'|trans({}, 'FOSMessageBundle') }}
    </p>
{% endblock %}

{% block recipient %}
    {{ parent() }} (Administrator)
{% endblock %}